// dark theme
$body-bg: #282A36;
$body-color: #F8F8F2;

// dracula theme
$theme-colors: (
  "primary": #BD93F9,
  "secondary": #6272A4,
  "success": #50FA7B,
  "info": #8BE9FD,
  "warning": #F1FA8C,
  "danger": #FF5555,
  "light": #F8F8F2,
  "dark": #44475A
);

// Custom styles for disabled input fields
input[disabled],
textarea[disabled],
select[disabled] {
  background-color: map-get($theme-colors, "secondary") !important;
  color: $body-color !important;
  opacity: 1;
  cursor: not-allowed;
}

input[disabled]::placeholder,
textarea[disabled]::placeholder {
  color: lighten($body-color, 30%) !important;
}

@import 'bootstrap/scss/bootstrap';
