// dark theme
$body-bg: #282a36;
$body-color: #f8f8f2;

// dracula theme
$theme-colors: (
  "primary": #bd93f9,
  "secondary": #6272a4,
  "success": #50fa7b,
  "info": #8be9fd,
  "warning": #f1fa8c,
  "danger": #ff5555,
  "light": #f8f8f2,
  "dark": #44475a,
);

// Custom styles for disabled input fields
input[disabled],
textarea[disabled],
select[disabled] {
  background-color: map-get($theme-colors, "secondary") !important;
  color: $body-color !important;
  opacity: 1;
  cursor: not-allowed;
}

input[disabled]::placeholder,
textarea[disabled]::placeholder {
  color: lighten($body-color, 30%) !important;
}

@import "bootstrap/scss/bootstrap";
